.sidebar {
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;

  max-width: 300px; 
  height: 100%;
  margin-right: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0d8af7;
}

input[type="file"] {
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}

label[for="backgroundImageInput"] {
  margin-top: 10px;
  display: block;

}
